<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/alinhamentoCadastro.css">
  <link href="../css/alinhamentoImg.css" rel="stylesheet">
  <link href="../css/perfil/imgPerfil.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />



  <title>Cadastro de Clientes</title>
</head>

<body>
  @include('nav/nav')

  <div class="card card-nav-tabs card-header container ">
    <div class="card-header card-header-danger">
      <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#Cadastrar" data-toggle="tab" onclick="limparCampos()">Cadastrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Alterar" data-toggle="tab" onclick="limparCampos()">Alterar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Listagem" data-toggle="tab" onclick="atualizaTabela()">Listagem</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body ">
      <div class="tab-content col-12 ">
        <div class="tab-pane active" id="Cadastrar">

          <div class="row">
            <div class="col-md-6">

              <form id="form" onsubmit="cadastraUsuario()" method="POST">
                <div class="form-group ">
                  <label for="exampleInputEmail1">Usuário</label>
                  <input type="text" class="form-control" id="username" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group ">
                  <label for="exampleInputEmail1">Nome</label>
                  <input type="text" class="form-control" id="name" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group ">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Empresa</label>
                  <input type="text" class="form-control" id="empresa" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Cargo</label>
                  <input type="text" class="form-control" id="cargo" required>
                </div>                

                <div class="form-group">
                  <label>Senha</label>
                  <input type="password" class="form-control col-8" id="password" required>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" id="admin" type="checkbox" value="">
                    Administrador
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <br>

            </div>

            <div class="cold-md-5 text-center tamanhoPerfil">
              <div class="card">
                <img id="imageNovo" class="card-img-top rounded img-fluid "
                  src="https://upload.wikimedia.org/wikipedia/commons/2/24/Missing_avatar.svg" alt=" Thumbnail Image ">
                <form><br>
                  <div class="form-group">
                    <label for="imgNovo">CARREGAR FOTO<label>
                        <input onchange="showImageNovo.call(this)" accept=".jpg,.jpeg,.png" type="file" class="form-control-file" id="imgNovo">
                  </div>
              </div>
            </div>

            </form>
          </div>
          <button type="submit" class="btn btn-primary" onclick="cadastraUsuario()">Cadastrar</button>
        </div>

        <!--               PARTE DE ALTERACAO      -->

        <div class="tab-pane" id="Alterar">
          <form class="form-group" id="formBusca" onsubmit="buscarUsuario()" method="POST">

            <div class="col-8 align-items-center">
              <label>Usuário</label>
              <div class="input-group mb-3">
                <input type="text" id="usuarioBusca" class="form-control" required>
                <br>
                <button class="btn btn-primary btn-round  btn-sm">
                  <i class="material-icons">search</i>Buscar
                </button>
              </div>
            </div>
            <div class="col-auto">
            </div>
          </form>

          <div class="row">
            <div class="col-md-6">

              <form class=" form-group" id="formAltera" method="POST" class="">
                <fieldset id="campos" disabled>
                  <div class="form-group ">
                    <label for="exampleInputEmail1">Nome</label>
                    <input type="text" class="form-control" id="usuarioAltera" required>
                  </div>


                  <div class="form-group ">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="emailAltera" required>
                  </div>

                  <div class="form-group ">
                    <label for="exampleInputEmail1">Empresa</label>
                    <input type="text" class="form-control" id="empresaAltera" required>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Cargo</label>
                    <input type="text" class="form-control" id="cargoAltera" required>
                  </div>                  

                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" id="adminAltera" type="checkbox" value="">
                      Administrador
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>

            </div>
            <div class="cold-md-5 text-center tamanhoPerfil ">
              <div class="card  ">
                <img id="imageAltera" class="card-img-top rounded img-fluid "
                  src="https://upload.wikimedia.org/wikipedia/commons/2/24/Missing_avatar.svg" alt=" Thumbnail Image ">
                <br>
                <div class="form-group ">
                  <label for="imgAltera">CARREGAR FOTO<label>
                      <input onchange="showImageAltera.call(this)" accept=".jpg,.jpeg,.png" type="file" class="form-control-file" id="imgAltera" disabled>
                </div>
              </div>
            </div>
            </form>
          </div>

          <br>
          <button type="submit" class="btn btn-primary" onclick="alterarUsuario()">Alterar</button>
          </fieldset>
          </form>
        </div>



        <div class="tab-pane table table-striped table-bordered" id="Listagem">
          <table id="teste" class="display" style="width:100%">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Admin</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>


 
  <script src="../js/cadastroUsuario.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

</body>

</html>
