<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/alinhamentoCadastro.css">
  <link href="../css/alinhamentoImg.css" rel="stylesheet">
  

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
  


  <title>Cadastro de Clientes</title>
</head>

<body>
  <!--INICO-->
  @include('nav/nav')

  <div class=" ">
    <h2 class="row h-100 justify-content-center">Usuários</h2>
    <br>
  <!-- PARTE MENU-->
  <ul class="nav nav-pills nav-pills-primary container" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
            Cadastrar
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link2" role="tablist" aria-expanded="false">
            Alterar
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link3" role="tablist" aria-expanded="false">
            Permissoes
        </a>
    </li>
</ul>
<div class="tab-content tab-space container cadastroCustom">
    <div class="tab-pane active" id="link1" aria-expanded="true">
      <form class=" form-group" id="form" onsubmit="cadastraUsuario()" method="POST">
        <div class="form-group col-8">
          <label for="uname">Usuario:</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group col-8">
          <label for="uname">Nome:</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group col-8">
          <label for="email">Endereço de Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="form-group col-8">
          <label for="email">Empresa:</label>
          <input type="text" class="form-control" id="empresa" name="empresa">
        </div>

        <div class="form-check align-right ">
          <label class="form-check-label">
            <input class="form-check-input" id="admin" type="checkbox" value=""> Administrador
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
          </label>
        </div>

        <div class="form-group col-3">
          <label for="pwd">Senha:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group col-3">
          <button type="submit" class="btn btn-primary ">Cadastrar</button>
        </div>

      </form>
    </div>
    <div class="tab-pane" id="link2" aria-expanded="false">
      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
      <br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
    </div>
    <div class="tab-pane" id="link3" aria-expanded="false">
        Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
        <br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
    </div>
</div>
  </div>
 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../js/verificaAcesso.js"></script>
  <script src="../js/cadastroUsuario.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
 
  
</body>

</html>
