<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/alinhamentoCadastro.css">
  <link href="../css/alinhamentoImg.css" rel="stylesheet">
  <link href="../css/perfil/imgPerfil.css" rel="stylesheet">
  <link href="../css/cadastroEmpresa/cardcustom.css" rel="stylesheet">
 
  
  <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro de Empresa</title>
</head>

<body>
  <!--INICO-->
  @include('nav/nav')
  <!-- PARTE MENU-->
  <div class="card card-nav-tabs card-header container ">
    <div class="card-header card-header-danger">
      <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#Cadastrar" data-toggle="tab">Cadastrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Alterar" data-toggle="tab" onclick="limparCampos()">Alterar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Listagem" data-toggle="tab" onclick="atualizaTabela()">Listagem</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card-body ">
      <div class="tab-content col-12 ">

        <div class="tab-pane active" id="Cadastrar">
          <div class="row">

            <div class="col-sm-6">
              <form id="form" method="POST" onsubmit="cadastraEmpresa()">
                <br>
                <div class="form-group ">
                  <label for="exampleInputEmail1">Nome da Empresa</label>
                  <input type="text" class="form-control" id="empresa" aria-describedby="emailHelp" required>
                </div>               
                <br>
            </div>

            <div class="cold-sm-6 text-center tamanhoPerfil">
              <div class="card cardCustom ">
                <img id="imageNovo" class="card-img-top rounded img-fluid "
                  src="https://upload.wikimedia.org/wikipedia/commons/2/24/Missing_avatar.svg" alt=" Thumbnail Image ">
                <br>
                <div class="form-group ">
                  <label for="imgNovo">CARREGAR LOGO<label>
                      <input onchange="showImageNovo.call(this)" accept=".jpg,.jpeg,.png" type="file"
                        class="form-control-file" id="imgNovo">                 
                </div>
              </div>

            </div>

          </div>
          <div class="row">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
          </form>
        </div>

        <!--               PARTE DE ALTERACAO      -->

        <div class="tab-pane" id="Alterar">
          <form class="form-group" id="formBusca" onsubmit="buscarEmpresa()" method="POST">
            <div class="col-sm-6 align-items-center">
              <div class="input-group ">
                <select class="form-control selectpicker" data-style="btn btn-link" id="Select">
                  <option>Selecione a Empresa...</option>
                </select>
                <button class="btn btn-primary btn-round  btn-sm" type="submit">
                  <i class="material-icons">search</i>Buscar
                </button>
              </div>
              <br>
              <br>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-6">
              <form class=" form-group" id="formAltera" method="POST" class="">
                <fieldset id="campos" disabled>
                  <div class="form-group ">
                    <label for="exampleInputEmail1">Nome da Empresa</label>
                    <input type="text" class="form-control" id="empresaAltera" required>
                  </div>
            </div>
            <div class="cold-sm-6 text-center tamanhoPerfil ">
              <div class="card cardCustom ">
                <img id="imageAltera" class="card-img-top rounded img-fluid "
                  src="https://upload.wikimedia.org/wikipedia/commons/2/24/Missing_avatar.svg" alt=" Thumbnail Image ">
                <br>
                <div class="form-group ">
                  <label for="imgAltera">CARREGAR LOGO<label>
                      <input onchange="showImageAltera.call(this)" accept=".jpg,.jpeg,.png" type="file"
                        class="form-control-file" id="imgAltera" disabled>
                </div>
              </div>
            </div>
            </form>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" onclick="alteraEmpresa()">Alterar</button>
          <button type="submit" class="btn btn-danger" onclick="excluirEmpresa()">Excluir</button>
          </fieldset>
          </form>
        </div>
        <div class="tab-pane" id="Listagem">
          
          <table id="TabelaEmpresa" class="display table table-striped table-bordered dt-responsive " style="width:100%">
            <thead>
              <tr>
                <th>Empresa</th>
              </tr>
            </thead>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>



  <script src="../js/cadastroEmpresa.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>


  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src= "https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src= "https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
  <script src= "https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

  
  
</body>

</html>
