<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/alinhamentoImg.css" rel="stylesheet">
  <link href="../css/dashboard/menuLateral.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Dashboard</title>
</head>

<body>
    <!--INICO-->
    @include('nav/nav')
 
  <iframe id="frame" width="100%" height="100%"  frameborder="0" allowFullScreen="true"></iframe> 
  
  

  
  <script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "300px";
    document.getElementById("main").style.marginLeft = "300px";
  }
  
  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
  </script>
  <script src="../js/dashboard.js"></script>
</body>

</html>