<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/alinhamentoImg.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Dashboard</title>
</head>

<body>
    <!--INICO-->
    @include('nav/nav')
 
  <iframe id="frame" width="100%" height="92%"  frameborder="0" allowFullScreen="true"></iframe>


  <script src="../js/verificaAcesso.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../js/dashboard.js"></script>
</body>

</html>