<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link href="../css/principal/cards.css" rel="stylesheet">
  
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet">
  
  <title>Principal</title>
</head>
<body>
  @include('nav/nav')

    <div class="container principal">
      <div class="card">
        <div class="card-body">
    <table id="teste"class="table table-striped table-bordered dt-responsive " style="width:100%">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Setor</th>
          <th>Dashboard</th>
                               
        </tr>
      </thead>
    </table>
  </div>
</div>
  </div>
 
 
  <script src="../js/principal/principal.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>


</body>

</html>
