<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link href="../css/principal/cards.css" rel="stylesheet">
  <title>Principal</title>
</head>
<body>
  @include('nav/nav')

  <template>
  <div class=" principalCards ">
   
    
    <div class="row principalCards  ">
      
      
      <div class="col-md-6">

        <div class="card">

          <div class="card-header card-header-primary">
            <h4 class="card-title">Vendas</h4>
          </div>
          <div class="row">
            <div class="col-sm-12">
      
          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Acomp. de Vendas</a>
              </h4>
            </div>
          </div>
          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Comissão</a>
              </h4>
            </div>
          </div>

          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Comissão</a>
              </h4>
            </div>
          </div>
            </div>
          </div>
        </div>

        

      </div>

      <div class="col-md-6">

        <div class="card">

          <div class="card-header">
            <h4 class="card-title">Vendas</h4>
          </div>
          <div class="row">
            <div class="col-sm-12">
      
          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Acomp. de Vendas</a>
              </h4>
            </div>
          </div>
          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Comissão</a>
              </h4>
            </div>
          </div>

          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Comissão</a>
              </h4>
            </div>
          </div>
            </div>
          </div>
        </div>

        

      </div>

      <div class="col-md-6">

        <div class="card">

          <div class="card-header">
            <h4 class="card-title">Vendas</h4>
          </div>
          <div class="row">
            <div class="col-sm-12">
      
          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Acomp. de Vendas</a>
              </h4>
            </div>
          </div>
          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Comissão</a>
              </h4>
            </div>
          </div>

          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Comissão</a>
              </h4>
            </div>
          </div>
            </div>
          </div>
        </div>

        

      </div>

      <div class="col-md-6">

        <div class="card">

          <div class="card-header">
            <h4 class="card-title">Vendas</h4>
          </div>
          <div class="row">
            <div class="col-sm-12">
      
          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Acomp. de Vendas</a>
              </h4>
            </div>
          </div>
          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Comissão</a>
              </h4>
            </div>
          </div>

          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">
                <a href="#pablo">Comissão</a>
              </h4>
            </div>
          </div>
            </div>
          </div>
        </div>

        

      </div>

   
    </div>
    
  
  </div>

</template>

  <script src="../js/principal/cards.js"></script>
</body>

</html>
