<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link href="../css/principal/cards.css" rel="stylesheet">
  <title>Principal</title>
</head>
<body>
  @include('nav/nav')



  <script src="../js/principal/cards.js"></script>
</body>

</html>
