<strong>Recuperando Senha </strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}). Se não foi vc, trocar senha imediatamente</p>

<p>Utilize este token para recuperar sua senha: {{ token }}</p> 

